/* app.css 或你的主樣式檔案 */
@import 'tailwindcss';

@theme {
	--color-body: #4a4a4a;
	--color-primary: #01ba0f;
	--color-secondary: #ffffff;
	--color-accent: #f59e0b;
	--color-background: #f3f4f6;
	--color-border: #e5e7eb;
}
body {
	width: 100%;
	padding: 0;
	margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@iconify/tailwind4";
